html , body ,#root{
  width: 100%; 
  font-family: "Vend Sans", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.left h1{
  font-size: 40px;
  font-weight: bold;
  margin-top: 15px;
  color: #ff9560;
}
.left p{
  color: #878787;
    /* margin-top: 10px; */
  font-size: 22px;
}
button{
  background-color: #ff9560;
  margin-top: 10px;
  font-size: 20px;
  color: white;
  transition: all 0.3s ;
  border: none;
  outline: none;
}
header button{
  background-color: #ff9560;
  margin:0px;
  font-size: 20px;
  color: white;
  transition: all 0.3s ;
  border: none;
  outline: none;

}
.left button:hover{
  background-color: #cc4806;
}
/* nave bare */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

}
.navbar .logo img{
  width: 100px;
  height: 100px;
}
.navbar ul{
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 25px;
}
.navbar li{
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s;
}
.navbar ul li a{
  text-decoration: none;
  color: #ff9561;
  font-weight: 500;
 
}
.navbar ul li:hover{
  background-color: #ff9560;
  border-radius: 10px;
}
.navbar ul li a:hover{
  color: white;
}


/* card de recipes */


.recipes-container{
  padding: 2rem;
  background-color: #fff3e6;
  min-height: 100vh;
}

.cards-warpper{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}
.recipes-card{
  background:#fff;
  border-radius: 12px;
  padding: 1rem;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
}
.recipes-card .icons{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  color: #ff6347;
  font-size: 24px;
}
.recipes-card:hover{
  transform: translateY(-5);
  background-color: #ff9560;
  color:white;
}
.recipes-card:hover h4{
  color:black;
}
.recipes-card h4 {
  margin-bottom: 0.5rem;
  color: #ff6347;
}
.recipes-card p,
.recipes-card small{
  margin: 0.2rem 0;
}


/* modale */

.modal-content{
  border: none !important;

}
.modal-header{
  border: none !important;

}